.checklist {
    display: flex;
    flex-direction: column;
  }
  
  .task {
    margin-bottom: 10px;
  }
  
  .taskDone {
    margin-bottom: 10px;
    text-decoration: line-through;
    color: gray;
  }